<div class="top-bar">
  <div class="top-bar-right">
    <p><%= link_to "Sign Up", new_user_registration_path %></p>
  </div>
  <div class="top-bar-right">
    <p><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p>
  </div>
  <div class="top-bar-left">
    <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
  </div>
</div>

<div id="app">
</div>
