.beer-card {
  background-color: white;
  color: black;
  border-radius: 20%;
  text-align: center
}

.beer-title {
  padding-bottom: 1em;
}

.name {
  font-size: 1em;
}

.event-beer {
  background-color: white;
  border-radius: 5%;
  color: black;
}
