.meetups-card {
  background-color: white;
  border-radius: 5%;
  color: black;
}

.meetups-form {
  background-color: white;
  padding: 2em;
  border-radius: 5%;
  color: black;
  margin-top: 1em;
}
.meetups-header {
  margin-top: 2em;
}
